let &t_Co=256

colorscheme pablo

set nocompatible              " required

" enable syntax highlighting
syntax enable
syntax on
set showcmd

autocmd FileType yaml setlocal ts=2 sts=2 sw=2 expandtab
autocmd FileType yml setlocal ts=2 sts=2 sw=2 expandtab

set autoread		" Read the file again automatically if it has changed from outside Vim
set backspace=indent,eol,start  " Fix backspace indent

set fileformat=unix " Set the file format to unix EOL

let mapleader=','   " Map leader to , 
set laststatus=2
set background=dark
set autowrite 		" Automatically write the file to disk when :make is called"

set number          " show line numbers
set relativenumber  " To display line numbers relative to the line with the cursor, use:

set hidden          " Set hidden to allow buffers to be browsed


set tabstop=4       " set tabs to have 4 spaces
set expandtab       " expand tabs into spaces
set smarttab		" Will insert and delete based on tabstops.
set shiftwidth=4    " when using the >> or << commands, shift lines by 4 spaces

set autoindent      " indent when moving to the next line while writing code

set incsearch       " jump to the search string as soon as we type
set hlsearch        " Highlight search results
set ignorecase      " set ignore case by default
set smartcase       " Do not ignorecase when search term is Capitalized
set gdefault 		" set the global search by default

" use the UTF-8 encoding standard
set encoding=utf-8
set binary
set nrformats-=octal " Do not treat numbers starting with 0 as octal"

set cursorline 		" show a visual line under the cursor's current line

set showmatch 		" show the matching part of the pair for [] {} and ()

set title 			" set the title of the window or teminal to the current file
set titleold="Terminal" 
set titlestring=%F	" Set title string to be the file name

set wildignore+=**/node_modules/**


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

map <space> :nohlsearch<enter>

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


" Find more examples here: https://jb.gg/share-ideavimrc
sethandler <C-2> a:vim
sethandler <C-A> a:ide
sethandler <C-B> a:vim
sethandler <C-C> a:ide
sethandler <C-D> a:vim
sethandler <C-E> a:ide
sethandler <C-F> a:ide
sethandler <C-I> a:ide
sethandler <C-J> a:ide
sethandler <C-K> a:ide
sethandler <C-L> a:vim
sethandler <C-N> a:ide
sethandler <C-O> a:ide
sethandler <C-P> a:ide
sethandler <C-Q> a:vim
sethandler <C-R> a:ide
sethandler <C-S> a:ide
sethandler <C-T> a:ide
sethandler <C-U> a:vim
sethandler <C-V> a:ide
sethandler <C-W> a:ide
sethandler <C-X> a:ide
sethandler <C-[> a:vim
sethandler <C-]> a:vim
