* {
  border: none;
  border-radius: 0;
  font-family: "JetBrains Mono Medium";
  min-height: 0; }

window#waybar {
  background: transparent; }

#workspaces button {
  font-size: 16px;
  color: #9dfa64;
  border-bottom: 3px solid transparent; }

#workspaces button.visible {
  font-size: 16px;
  color: #9dfa64; }

#workspaces button.focused {
  border-bottom: 3px solid #9dfa64; }

#workspaces button:hover {
  background: #2d2d2d;
  box-shadow: inherit; }

#custom-cap-left,
#custom-cap-right {
  font-size: 22px;
  color: #9dfa64; }

#tray,
#cpu,
#temperature,
#memory,
#pulseaudio,
#battery,
#clock,
#network {
  font-size: 16px;
  background: #9dfa64;
  color: black;
  padding-left: 10px;
  padding-right: 10px; }

#custom-power {
  font-size: 22px;
  background: #9dfa64;
  color: black;
  padding-left: 20px;
  padding-right: 10px; }

#idle_inhibitor {
  font-size: 22px;
  background: #9dfa64;
  color: black;
  padding-left: 10px;
  padding-right: 10px; }

#battery.charging,
#battery.plugged {
  background-color: #26a65b; }

@keyframes blink {
  to {
    background-color: #ff0400;
    color: black; } }

#battery.critical:not(.charging) {
  background-color: #9dfa64;
  color: black;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate; }
