$keylime: #9dfa64;
$darker-green: #78ec2f;
$crimson: #ff6600;

$bg-color: $keylime;
$fg-color: black;
$text-size: 16px;
$icon-size: 22px;
$cap-size: 22px;

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrains Mono Medium";
  min-height: 0;
}

window#waybar {
  background: transparent;
}

#workspaces {
  button {
    font-size: $text-size;
    color: $bg-color;
    border-bottom: 3px solid transparent;
  }

  button.visible {
    font-size: $text-size;
    color: $bg-color;
  }

  button.focused {
    border-bottom: 3px solid $bg-color;
  }
  button:hover {
    background: #2d2d2d;
    box-shadow: inherit;
  }
}

#custom-cap-left,
#custom-cap-right {
  font-size: $cap-size;
  color: $bg-color;
}

#tray,
#cpu,
#temperature,
#memory,
#pulseaudio,
#battery,
#clock,
#network {
  font-size: $text-size;
  background: $bg-color;
  color: $fg-color;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-power {
  font-size: $icon-size;
  background: $bg-color;
  color: $fg-color;
  padding-left: 20px;
  padding-right: 10px;
}

#idle_inhibitor {
  font-size: $icon-size;
  background: $bg-color;
  color: $fg-color;
  padding-left: 10px;
  padding-right: 10px;
}

#battery.charging,
#battery.plugged {
  background-color: #26a65b;
}

@keyframes blink {
  to {
    background-color: #ff0400;
    color: $fg-color;
  }
}

#battery.critical:not(.charging) {
  background-color: $bg-color;
  color: $fg-color;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
